.geneticHeader {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #00293E;
    padding: 20px;
    font-size: 20px;
}

.geneticHeader .info1 {
    color: #9F7FBE;
    text-decoration: underline;
}

.geneticHeader .infoDate {
    margin-left: 30px;
}

.geneticHeader .info2 {
    margin-left: 30px;
    font-weight: 500;
}

.geneticHeader .info3 {
    margin-left: 30px;
}

.geneticHeader .info4 {
    margin-left: 30px;
}

.geneticHeader .info5 {
    margin-left: 10px;
    margin-top: 2px;
    padding: 3px 10px;
    font-size: 12px;
    color: #A0DCAC;
    border: 2px solid #A0DCAC;
    border-radius: 5px;
}

.geneticHeader .report {
    margin-top: 2px;
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #00BF8D;
}

.geneticHeader .report:hover {
    background-color: #00a679;
}

.geneticHeader .reportContainer {
    position: absolute;
    z-index: 5;
    padding: 30px 100px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 10px;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 0 6px 6px #ffffff;
    box-shadow: 0 0 6px 6px #ffffff;
}

.geneticHeader .reportContainer .commentsContainer {

}

.geneticHeader .reportContainer .commentsContainer p {
    text-align: left;
    color: #3C474C;
    font-size: 16px;
}

.geneticHeader .reportContainer .commentsContainer textarea {
    width: 350px;
    height: 250px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    outline: none;
    resize: none;
    caret-color: #347CFF;
}

.geneticHeader .reportContainer .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}

.geneticHeader .reportContainer .buttonContainer button {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.geneticHeader .reportContainer .buttonContainer .getButton {
    background-color: #00BF8D;
}

.geneticHeader .reportContainer .buttonContainer .getButton:hover {
    background-color: #00a679;
}

.geneticHeader .reportContainer .buttonContainer .cancelButton {
    background-color: #FF3D54;
}

.geneticHeader .reportContainer .buttonContainer .cancelButton:hover {
    background-color: #fd2941;
}